html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #3c414a;
}

.control-panel {
    display: flex;
    justify-content: space-between;  
}

.array-display {
    display: flex;
    justify-content: center;
    margin-right:15px;
}
